<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
  <center>
  <div class="well" style="background-color:black">
    <div class="row">
      <div class="col-sm-2" style="font-size:15px;font-style:italic">
      <b><a href="#">Add New Laptop Company</a></b>
      </div>
    <div class="col-sm-9">
<h1 style="font-style:italic;margin-right:40px;color:orange">Laptops World</h1>
</div>
<div class="col-sm-14" style="font-size:25px;font-style:italic">
  <a href="{{url_for('logout')}}">Logout</a>
</div>
</div>
</div>
</center>
<center>
<div class="row"  >
{% for company in laptop_companies %}
  <div class="col-sm-4">
  <a href ="#">
  <img src="{{ company.icon }}" width="180px" height="180px">
  </a>
  <p><a href = "#">Edit {{company.name}}</a></p><br>
  <p> <a href = "#">Remove {{company.name}}</a></p>
  </div>
{% endfor %}
</div>
</center>
</body>
</html>
